*{
    margin:0;
    padding:0;
}
body{
    font-family: 宋体;
    font-size: 14px;
}
#main{
    margin:0 auto;
    width:800px;
    height:600px;
}
#header{
    width:800px;
    height:200px;
    background:url("../images/autumn.jpg") no-repeat;
    overflow: hidden;
}
#header ul{
    margin-top:168px;
    margin-left:100px;
    list-style: none;
}
#header ul li{
    float:left;
    font-size: 16px;
    font-weight: bold;
    margin-left:50px;
}
#header ul li a:link,#header ul li a:visited{
    text-decoration:none;
    color:white;
}
#header ul li a:hover{
    text-decoration:underline;
}
#content{
    width:800px;
    height:360px;
}
#left{
    width:200px;
    height:360px;
    float:left;
    background:#EEEEEE;
}
#user{
    width:192px;
    height:230px;
    background:#FFFFFF url("../images/title_bg.jpg") no-repeat;
    margin-top:50px;
    margin-left:4px;
}
#user h3{
    color:white;
    line-height:25px;
    text-align: center;
}
#login{
    margin-top:50px;
    margin-left:40px;
    font-size:12px;
}
#right{
    width:600px;
    height:360px;
    float:left;
    background:#CBE4F0;
    position:relative;
}
#right h2{
    color:green;
    text-align: center;
    margin-top: 15px;
}
#table{
    margin:0 auto;
    margin-top: 15px;
    text-align: center;
    font-size:12px;
    font-weight: bold;
}
#table th{
    height:30px;
    background:#BAEDDE;
}
#table tr td{
    height:30px;
}
#table a:link,a:visited{
    text-decoration: none;
    color:black;
}
#table a:hover{
    text-decoration: underline;
}
#paging{
    position: absolute;
    left:26%;
    top:80%;
    text-align: center;
}
#barcon{
    font-size:12px;
    font-weight: bold;
}
#barcon a:link,#barcon a:visited{
    text-decoration: none;
}
#barcon a:hover{
    text-decoration: underline;
}

#footer{
    width:800px;
    height:40px;
    background:#CCCCCC;
    line-height:40px;
    font-weight: bold;
}
#footer p{
    width:350px;
    margin:0 auto;
}